[submodule "submodules/qt-super-macros"]
	path = submodules/qt-super-macros
	url = https://github.com/approximator/Qt-Super-Macros.git
[submodule "submodules/fmt"]
        path = submodules/fmt
        url = https://github.com/fmtlib/fmt.git
[submodule "submodules/qt-qml-models"]
	path = submodules/qt-qml-models
	url = https://github.com/approximator/Qt-QML-Models.git
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date.git
[submodule "tests/catch"]
	path = tests/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "tests/rapidcheck"]
	path = tests/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
